.form {
    display: flex;
    align-items: end;
    gap: 2em;
}

.formWrapper {
    display: flex;
    align-items: end;
    gap: 2em;
    border: solid 1px gray;
    padding: 1em;
    border-radius: 2px;
}

.label {
    display: block;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}